.imagem-carrossel-um {
	object-fit: cover;
	object-position: 0 80%;
	height: 400px;
}

.imagem-carrossel-dois {
	object-fit: cover;
	object-position: 0 80%;
	height: 400px;
}

.font-titulo{
	font-family: 'Pacifico', cursive;
}

.cor-especial{
	color: darkRed!important;
}

.botao-cor-especial{
	background-color: darkRed;
	color: white;
}

.borda-cor-especial {
	border-color: darkRed;
}

.img-card{
	height: 200px;
	object-fit: cover;
}

.card-largura{
	max-width: 18rem;
}
